@import 'styles/_colors.scss';

.card {
  width: 100%;
}

.card:hover {
    cursor: pointer;
}

.card-image-container {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.card-image-container img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-details > div {
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-details-title {
  font-size: 16px;
  font-weight: 500;
  /* color: #515151; */
  /* color: $primary-color */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-details-data {
  display: flex;
  font-size: 14px;
  color: #767676;
}

.card-details-data > div {
    padding-right: 10px;
}

.good-movie {
    color: $webflix-green;
    font-weight: 700;
}

.bad-movie {
    color: $webflix-red;
    font-weight: 700;
}


