.movie-screen-container {
    position: relative;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}

.movie-screen-left {
    position: relative;
    width: 25%;
    background-color: black;
}


.movie-screen-movie {
    width: 75%;
}

.movie-screen-details-container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 35%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-screen-details > div {
    padding-bottom: 25px;
}

#movie-screen-details-title {
    display: flex;
    justify-content: space-between;
    // padding-top: 20px;
    padding-bottom: 0px;
    font-size: 38px;
    font-weight: 700;
}

#tagline {
    color: #999;
}

.movie-screen-details-overview {
    display: block;
    color: #999;
    text-overflow: invisible;
}

.movie-screen-numerical-data {
    display: flex;
    font-weight: 700;
    padding-bottom: 20px;
}

.movie-screen-numerical-data .vote-average {
    color: #46d369;
    padding-right: 10px;
}

.image-container {
    padding-top: 56.25%;
    position: relative;
}

.image-container img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.movie-screen-movie-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);

}

.list-data {
    display: flex;
    flex-wrap: wrap;
}

.list-data > div {
    padding-right: 5px;
}

.label {
    color: #999;
    padding-right: 5px;
}

@media only screen and (max-width: 978px) {
      .movie-screen-details-container {
    padding-left: 20px;
      width: 95%;


}

}

@media only screen and (max-width: 1100px) {
      .movie-screen-details-container {
      width: 95%;


}

      .movie-screen-left {
	width: 0%;
    }
    .movie-screen-movie {
	width: 100%;
	min-width: 800px;
    }
}
