@import "src/styles/_colors.scss";

.navbar-outer, .navbar-outer-home {
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 100%;
  z-index: 10;
  background-color: white;
  opacity: .98;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
  transition: .75s;
}

.navbar-outer-home {
    background-color: transparent;
}

.navbar-outer-home .navbar-logo {
    color: $webflix-green;
}

.navbar-dummy {
  display: none;
}

.navbar-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo,
.navbar-dummy {
  font-family: "Montserrat";
  color: $webflix-red;
  font-size: 22px;
  font-weight: 700;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-links {
    padding-left: 30px;
}

.navbar-right {
    color: $webflix-black;
    display: flex;
    align-items: center;
}

.navbar-outer-home .navbar-right {
    color: white;
}

.navbar-right img {
    padding-top: 2px;
}

.navbar-right div {
  padding-right: 10px;
}

@media only screen and (min-width: 978px) {
  .navbar-outer, .navbar-outer-home {
    padding-left: 60px;
    padding-right: 60px;
  }

  .navbar-dummy {
    display: inline;
    visibility: hidden;
  }
}
