.navbar-outer {
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.03);
}

.navbar-dummy {
  display: none;
}

.navbar-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo,
.navbar-dummy {
  font-family: "Montserrat";
  color: #e50914;
  font-size: 22px;
  font-weight: 700;
}

@media only screen and (min-width: 978px) {
  .navbar-outer {
    padding-left: 60px;
    padding-right: 60px;
  }

  .navbar-dummy {
    display: inline;
    visibility: hidden;
  }
}
