.slider-outer {
    position: absolute;
    overflow: hidden;
    // width: 1200px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
}

.slider-container > div {
    padding-left: 5px;
    padding-right: 5px;
    transition: width .35s
}

.outer-outer {
    width: 100%;
    
    position: absolute;
    overflow: hidden;
    width: 1200px;
    height: 600px;
    // background-color: red;
}

.button-left {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    background-color: #fafafa;
    opacity: .9;
    width: 60px;
    height: 205px;
}

.button-right {
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: .5;
    width: 60px;
}

.button-left > button:hover {
    cursor: pointer;
}
